@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  @apply mx-1 w-10 h-12 text-4xl;
  border-radius: 10px;
  color: black;
}

body {
  background: url("/src/svgs/grass.svg");
  background-repeat: repeat-x;
  background-position: bottom;
  height: 100vh;
}

.dialog-window {
  border-radius: 2.9375rem;
  border: 2px solid #FCAB10;
  background: #FFF1D6;
}

button {
  font-family: 'Titan One', cursive;
  background: #FCAB10;
}

.shantell-sans {
  font-family: 'Shantell Sans', cursive;
}

.titan-one {
  font-family: 'Titan One', cursive;
}
